.banner {
  height: 600px;
  background-image: url('../images/banners/banner-1.jpeg');
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;


  img {
    height: 600px;
  }

  p {
    font-size: 12px;
    color: #ddd;
    margin-top: 5px;
  }

  h5,
  .display-1 {
    font-weight: 600;
    color: $white;
  }
}

.logo-small {
  height: 30px;
}

.offcanvas-body iframe {
  border-radius: 10px;
}

#offcanvasTopLabel {
  font-weight: 700;
}